{% extends "main/base.html" %}
{% block content %}

<div class="bgimg" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTWi7NM78-tiPjg5D0JedfWYuw2l5iWikKelnDNNKgHWJA1itzYw&s');" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center" data-aos="fade-up">
      <div class="col-md-7">
        <h2 class="">RECRUITO</h2>
        <p class="lead mx-auto desc mb-5">
          A WebApp to Assist in the Recruitment Process of Clubs and Departments in BITS Pilani Campus.
        </p>
      </div>
    </div>
  </div>
</div>

    <!--Main content of the page starts here-->
    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <p>
            Student Clubs are formed around academic and national themes to add to the rich mosaics of student life.
            Students who have common interest in debating come together to form a debating club; those committed to
            traditional life come together to form a club for preservation of culture and so on. At present
            BPPC has 15 students clubs namely Dance Club, Music Club, Art and Craft Club, Photography Club,
            Drama Club, Science and Technology Club, Debating Society, Management Club, Quiz Club, F1 Club,
            Social Activities, Pixel, Literary Club, Environment Club, etc. The aim of such clubs is to enrich the
             social and cultural life on the Institute campus.
          </p>
      </div>

      </div>
    </div>

{% endblock content %}
